a {
  background: none !important;
  border-bottom: 1px dashed;
  transition: .2s all;
}
a:hover {
  color: #fab900;
  border-bottom-style: solid;
}

.title.slide::after {
  display: none;
}

.title.slide .logo {
  float: right;
  margin: 4em 15px .5em;
}

.title.slide h2 {
  clear: both;
  line-height: 1;
  font-size: 3.1em;
  margin: 0 0 .2em -.1em;
}

.title.slide h3 {
  line-height: 1.2;
  font-size: 1.7em;
  letter-spacing: .2px;
  margin: .2em 0;
}

.TODO {
  color: red;
}

.person {
  margin-bottom: 1em;
}

.person img {
  border-radius: 50%;
  height: 4.2em;
  float: left;
  clear: both;
  margin-right: 1em;
}

.person p {
  margin: 0;
  line-height: 1.4em;
}

.person .name {
  font-weight: bold;
}

.person .faculty {
  font-style: italic;
}

.twitter-tweet {
  transform: scale(.75);
  transform-origin: 0 0;
  margin: 0 auto;
}

.graph {
  margin-top: -20px;
  overflow: hidden;
}

.graph iframe {
  margin-top: -100px;
  width: 1250px;
  height: 850px;
  transform: scale(0.7);
  transform-origin:0 0;
}
