.TODO {
  color: red;
}

.person {
  margin-bottom: 1em;
}

.person img {
  border-radius: 50%;
  height: 4.2em;
  float: left;
  clear: both;
  margin-right: 1em;
}

.person p {
  margin: 0;
  line-height: 1.4em;
}

.person .name {
  font-weight: bold;
}

.person .faculty {
  font-style: italic;
}

.graph {
  margin-top: -20px;
  overflow: hidden;
}

.graph iframe {
  margin-top: -100px;
  width: 1250px;
  height: 850px;
  transform: scale(0.7);
  transform-origin:0 0;
}
